https://webnautes.tistory.com/1579

In [11]:
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder

In [6]:
tf.__version__

'2.4.1'

In [4]:
CUDA_VISIBLE_DEVICES=""

In [7]:
root_dir = '/home/lab38/images'
sample_csv = '딸기_정상_수정본.csv'
df = pd.read_csv(os.path.join(root_dir, sample_csv))
sample_img_path = os.path.join(root_dir, '딸기_정상')
df['image'] = df['image'].map(lambda x : os.path.join(sample_img_path, x))
df.head()

,image,date,height,width,type,disease,crop,area,grow,risk,points
0,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,2020-12-03,4032,3024,0,0,4,1,13,0,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'..."
1,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,2020-12-03,4032,3024,0,0,4,1,13,0,"[{'xtl': 600, 'ytl': 1087, 'xbr': 1628, 'ybr':..."
2,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,2020-12-03,4032,3024,0,0,4,1,13,0,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'..."
3,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,2020-12-03,4032,3024,0,0,4,1,13,0,"[{'xtl': 662, 'ytl': 1252, 'xbr': 2129, 'ybr':..."
4,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,2020-12-03,4032,3024,0,0,4,1,13,0,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ..."

In [16]:
class CustomGenerator:
    def __init__(self, df, xcol, ycol) :
        self.df = df.copy()
        self.xcol = xcol
        self.ycol = ycol
        
        self.n_cls = len(self.df[ycol].unique())
        self.encoder = LabelEncoder()
        self.encoder.fit(df[ycol])
        self.df[self.ycol] = self.encoder.transform(self.df[self.ycol])
        
    def x_generator(self) :
        for i in range(len(df)) :
            x = tf.keras.preprocessing.image.load_img(self.df[self.xcol][i])
            x = tf.keras.preprocessing.image.img_to_array(x)
            x = tf.keras.preprocessing.image.smart_resize(x, (320,320))
            x = x / 255.
            yield x

    def y_generator(self, cls) :
        for i in range(len(df)) :
            y = df[cls][i]
            yield y

In [17]:
gen = CustomGenerator(df, 'image', 'grow')

In [ ]:
def create_dataset(generator, dtype, BATCH, shuffle=False, autotune=False):
    dataset = tf.data.Dataset.from_generator(generator, dtype)
    dataset = dataset.repeat().batch(BATCH)
    
    if shuffle :
        pass
    if autotune :
        pass
    
    return dataset

In [18]:
# with tf.device("/cpu:0"):
x_dataset = tf.data.Dataset.from_generator(gen.x_generator, tf.float32)
x_dataset = x_dataset.batch(20)

In [ ]:
y_dataset

In [ ]:
for batch, x in enumerate(x_dataset):
    pass
print(batch)
print(x.shape)